* {
    position: relative;
    box-sizing: border-box;
}

.tag {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 20px;
    align-items: center;
}

.tag__lists {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.tag__item {
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #f8f9fa;
    color: #2ebc8c;
}

.tag__input { 
    height: 30px;
    border: none;
    outline: none;
    color: gray;
    font-size: 1.1rem;
}